name: odoo
on:
  workflow_dispatch:
    inputs:
      python:
        description: "Python version (vd: 3.12, 3.13 or *)"
        required: true
        default: "*"

jobs:
  docker-build:
    runs-on: ubuntu-22.04
    outputs:
      versions: ${{ steps.set-matrix.outputs.versions }}
    steps:
      - name: Generate matrix
        id: set-matrix
        run: |
          INPUT_PYTHON="${{ github.event.inputs.python }}"

          ALL_VERSIONS=(
            # 3.7
            3.8
            3.9
            3.10
            3.11
            3.12
            3.13
            3.14
          )
          if [ "$INPUT_PYTHON" = "*" ]; then
            VERSIONS=("${ALL_VERSIONS[@]}")
          else
            read -ra VERSIONS <<< "$INPUT_PYTHON"
          fi

          VERSIONS_JSON=$(printf '%s\n' "${VERSIONS[@]}" | jq -R . | jq -s -c .)
          echo "versions=$VERSIONS_JSON" >> $GITHUB_OUTPUT

  build:
    needs: docker-build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python: ${{ fromJson(needs.docker-build.outputs.versions) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          repository: ${{ secrets.DOCKER_REPO }}
          token: ${{ secrets.GH_TOKEN }}
          path: .
          sparse-checkout: images

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}

      - name: Increase swapfile
        run: |
          sudo swapoff -a
          sudo fallocate -l 8G /swapfile
          sudo chmod 600 /swapfile
          sudo mkswap /swapfile
          sudo swapon /swapfile
          sudo swapon --show

      - name: Build and publish
        uses: docker/build-push-action@v6
        env:
          DOCKER_BUILD_SUMMARY: false
        with:
          context: ./images/odoo
          file: ./images/odoo/Dockerfile-python-${{ matrix.python }}
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/odoo:python-${{ matrix.python }}
